.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*

.vscode/
*/.vscode/

/__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

models/*
!models/.keep

dockers/*/models/*
!dockers/*/models/.keep

dockers/*/images/*
!dockers/*/images/.keep
